@import '../utils/mixins.scss';

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    margin: 0;
    padding: 0;
    height: 100%;
    @include flex-column;
    justify-content: space-between;
}