@import '../utils/mixins.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Verdana';
    background: linear-gradient(180deg, rgba(0,112,132,0.15) 0%, rgba(255,255,255,1) 60%);;
}

#root {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    @include flex-column;
}

main {
    height: 100%;
    width: 90%;
    @include flex-column;
}