
//Barra progreso formulario
@mixin progress {
    height: 5px;
    background-color: red;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}