$turquoise-blue: rgba(0, 112, 132, 1);
$turquoise-fade-blue: rgba(0, 112, 132, 0.6);
$dark-blue: rgba(0, 151, 178, 1);
$light-blue: rgba(0, 151, 178, 0.5);
$background-blue: rgba(255, 255, 255, 1);

$dark-orange: rgba(249, 139, 51, 0.8);
$light-orange: rgba(255, 143, 52, 0.5);
$lighter-orange: rgba(255, 143, 52, 0.3);