@import '../utils/mixins.scss';

header {
    padding-right: 1.5rem;
    width: 100vw;
    @include flex-row;
    justify-content: flex-end;
}

.temperature-section {
    @include flex-row;
    gap: 1rem;
}