@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.login-section {
    box-sizing: border-box;
    @include flex-column;
    height: 100%;
    width: 100%;
    background-color: white;
}

.logo-article img {
    height: 185px;
}

.login-form-article {
    width: 80%;
    max-width: 500px;
}

.login-form {
    margin-top: 3rem;
    @include flex-column;
    gap: 0.2rem;
}

.login-form > input {
    text-align: center;
    width: 100%;
    height: 3.6rem;
    font-size: 1.2rem;
    border: 2px solid $turquoise-blue;
    border-radius: 20px;
    font-family: 'Verdana';
}
.login-form > input:active {
    border-color:  $turquoise-blue;
    border-radius: 20px;
    outline: none;
}

.login-form > input::placeholder {
    color: $light-blue;
}

.login-form input[type="submit"] {
    height: 4rem;
    width: 70%;
    border: none;
    border-radius: 40px;
    background-color: $dark-blue;
    color: white;
    font-weight: 600;
}

.login-form input[type="submit"]:active {
    background-color: $light-blue;
    color: $dark-blue;
}

.login-message {
    color: red;
    font-size: 1.2rem;
}

.signup-link-article {
    margin-top: 1.6rem;
}

.signup-link, .signup-link:visited, .signup-link:active {
    color: $dark-blue;
    font-size: 1.5rem;
}