@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.navbar-article {
    @include flex-row;
    position: sticky;
    bottom: 20px;
}

.navbar-article nav {
    @include flex-row;
    gap: 3rem;
    height: 84px;
    width: 328px;
    background-color: $dark-blue;
    border-radius: 50px;
}

.nav-link {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
}